h4 {
    margin-bottom: 2px;
    display: inline-block;
    width: 80px;
    margin-top: 10px;
}
.content {
    display: flex;
    flex-direction: row;
}

.property {
    flex: 1 1;

    display: flex;
    flex-direction: column;

}

.entry {

}

.table table {
     margin: auto;
}
.table {
     padding-top: 20px;
}
th {
    padding: 20px;
    border: black 1px solid;
}

td {
    padding: 20px;
    border: black 1px solid;
}


.translations .lang h5 {
    margin-bottom: 2px;
    margin-top: 5px;
    display: inline-block;
    font-size: 10px;
}
.translations .lang span {
    font-size: 10px;
    font-weight: normal;
}
