.popup {
    z-index: 1000;
    position: absolute;
    background-color: white; 
}

body {
    
    font-size: 12px;
}

h2 {
    text-align: center;
}

h3 {
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 2px;
    display: inline-block;
    width: 110px;
    margin-top: 8px;
    font-size: 11px;
}

h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 11px;
    font-weight: normal;
    margin-left: 10px;
}

/*ul {
    margin-top: 2px;
    max-height: 80px;
    overflow-y: scroll;
}*/
.content-h {
    display: flex;
    flex-direction: row;
}
.content-v {
    display: flex;
    flex-direction: column;
}

.property {
    flex: 1 1;

    display: flex;
    flex-direction: column;

}

.entry {

}

.table table {
     margin: auto;
}
table {
    padding-top: 20px;
    text-align: center;
}
table th {
    padding: 0.25rem;
}
table dl {
    font-size: 11px;    
}

th {
    padding: 20px;
    border: black 1px solid;
}

td {
    padding: 20px;
    border: black 1px solid;
}


.translations .lang h5 {
    margin-bottom: 2px;
    margin-top: 5px;
    display: inline-block;
    font-size: 10px;
}
.translations .lang span {
    font-size: 10px;
    font-weight: normal;
}
