<!DOCTYPE html>
<html>
<head>
    <title>Dictionary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<base href="{{ base_url }}">
	<meta charset="UTF-8">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('.', filename='index.html') }}">Dictionary</a>
            <button class="btn btn-outline-light ml-auto"
                  data-toggle="modal"
                  data-target="#modal-stats">
              &#9432;
            </button>
        </div>
    </nav>

	{% block content %}{% endblock %}

    <div class="modal fade"
         id="modal-stats"
         tabindex="-1"
         role="dialog"
         aria-labelledby="infoTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoTitle">Dictionary informations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dl class="list-inline navbar-nav">
                        <dt>Number of root paradigms</dt>
                        <dd>{{dictionary_stats.nb_roots}}</dd>
                        <dt>Number of semes</dt>
                        <dd>{{dictionary_stats.nb_semes}}</dd>
                        <dt>Number of paradigms</dt>
                        <dd>{{dictionary_stats.nb_paradigms}}</dd>
                        <dt>Number of relations</dt>
                        <dd>{{dictionary_stats.nb_relations}}</dd>
                    </dl>

                </div>
            </div>
        </div>
    </div>


	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>