{% macro badge_class(u) -%}
    <span class="badge badge-{{u.class}}">{{u.class_pretty}}</span>
{%- endmacro %}
{% macro badge_type(u) -%}
    <span class="badge badge-secondary">{{u.type_pretty}}</span>
{%- endmacro %}

<!DOCTYPE html>
<html>
<head>
    <title>IEML database</title>
    <base href="{{ base_url }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<meta charset="UTF-8">
</head>
<body>
    <div class="fixed-top" id="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('.', filename='index.html') }}">IEML database</a>
                <button class="btn btn-outline-light ml-auto"
                      data-toggle="modal"
                      data-target="#modal-stats">
                  &#9432;
                </button>
            </div>
        </nav>

	    {% block header_fixed %}{% endblock %}
    </div>
    <div id="main-content" class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <div class="modal fade"
         id="modal-stats"
         tabindex="-1"
         role="dialog"
         aria-labelledby="infoTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoTitle">IEML database informations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Dictionary statistics</h6>
                    <dl class="list-inline navbar-nav">
                        <dt>Number of root paradigms</dt>
                        <dd>{{dictionary_stats.nb_roots}}</dd>
                        <dt>Number of semes</dt>
                        <dd>{{dictionary_stats.nb_semes}}</dd>
                        <dt>Number of paradigms</dt>
                        <dd>{{dictionary_stats.nb_paradigms}}</dd>
                        <dt>Number of relations</dt>
                        <dd>{{dictionary_stats.nb_relations}}</dd>
                    </dl>
                    <h6>Lexicon statistics</h6>
                    <dl class="list-inline navbar-nav">
                        </dl>

                </div>
            </div>
        </div>
    </div>


	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            let fixed_top = document.getElementById('fixed-top');
            let main_content = document.getElementById('main-content');

            main_content.style.top = fixed_top.offsetHeight + "px";
        })
    </script>
    <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                var select_language = document.getElementById('selectLanguage');

                function do_select_language() {
                    let lang = select_language.value;

                    let list = document.getElementsByClassName("translation");
                    for (let node of list) {
                        node.textContent = node.getAttribute('data-' + lang);
                    }

                    let comments = document.getElementsByClassName("comment");
                    for (let node of comments) {
                        if (node.getAttribute('data-lang') === lang)
                            node.style.display = '';
                        else
                            node.style.display = 'none';
                    }
                }

                do_select_language();

                select_language.addEventListener('change', do_select_language)
            });

    </script>

</body>
</html>