{% extends "main.html" %}

{% macro _cell(cell, is_cell, colspan=1) -%}
    {% if is_cell %}
    <td class="cell" style="background-color: {{cell.color}};">
    {% else %}
    <th class="cell" colspan="{{colspan}}" style="background-color: {{cell.color}};">
    {% endif %}
        <div class="ieml-cell">
            <a class="ieml" href="{{url_for('scripts', filename=cell.ieml)}}"> {{cell.ieml}} </a>
            <span class="translation table-cell"
                data-fr="{{cell.translations.fr}}"
                data-en="{{cell.translations.en}}">
                {{cell.translations.fr}}
            </span>
        </div>
    {% if is_cell %}
    </td>
    {% else %}
    </th>
    {% endif %}
{%- endmacro %}

{% macro _column(script, table) -%}
    <table class="table table-bordered table-fixed">
        <tr>
            {{_cell(script, False)}}
        </tr>
        {% for cell in table.cells %}
        <tr>
            {{_cell(cell, True)}}
        </tr>
        {% endfor%}
    </table>
{%- endmacro %}

{% macro _table(table) -%}
    <table class="table table-bordered table-fixed">
        <tr>
            {{_cell(table.header, False, table.columns|length + 1)}}
        </tr>
        <tr>
            <th style="background-color: lightgrey;"></th>
            {% for cell in table.columns %}
                {{_cell(cell, False)}}
            {% endfor %}
        </tr>
        {% for row in table.cells %}
        <tr>
            {{_cell(table.rows[loop.index - 1], False)}}

            {% for cell in row%}
                {{_cell(cell, True)}}
            {% endfor%}
        </tr>
        {% endfor%}
    </table>
{%- endmacro %}

{% macro _table_header(s) -%}
    <div class="card-header">Table <a href="{{url_for('scripts', filename=s.ieml)}}">{{s.ieml}}</a> {{s.translations['fr']}}</div>
{%- endmacro %}

{% macro _table_menu_tabs(script, idx) -%}
    {% if script.tables.dim > 2 %}
        {% for s, table in script.tables.cells.items() %}
            {{ _table_menu_tabs(table, loop.index) }}
        {% endfor %}
    {% elif script.tables.dim == 0 %}
    {% else %}
    <a class="nav-item nav-link"
       id="nav-tables-{{idx}}-tab"
       data-toggle="tab"
       href="#tables-{{idx}}"
       role="tab"
       aria-controls="tables"
       aria-selected="false">Table {{script.ieml}}</a>
    {% endif %}
{%- endmacro %}

{% macro _table_tabs(script, idx) -%}
    {% if script.tables.dim == 1 %}
    <div class="tab-pane fade table m-1"
       role="tabpanel"
       id="tables-{{idx}}"
       aria-labelledby="nav-tables-{{idx}}-tab">

        <!--<div class="card">-->
            <!--{{_table_header(script)}}-->
            <!--<div class="card-body">-->
                {{_column(script, script.tables)}}
            <!--</div>-->
        <!--</div>-->
    </div>
    {% elif script.tables.dim == 2 %}
    <div class="tab-pane fade table m-1"
       role="tabpanel"
       id="tables-{{idx}}"
       aria-labelledby="nav-tables-{{idx}}-tab">

        <!--<div class="card">-->
            <!--{{_table_header(script)}}-->
            <!--<div class="card-body">-->
                {{_table(script.tables)}}
            <!--</div>-->
        <!--</div>-->
    </div>
    {% elif script.tables.dim > 2 %}
        {% for s, table in script.tables.cells.items() %}
            {{ _table_tabs(table, loop.index) }}
        {% endfor %}
    {% endif %}
{%- endmacro %}


{% block content %}
    <!--<div class="container-fluid">-->
        <h2 class="text-center m-4">
            {{script.ieml}}
        </h2>

        <div class="row" id="translations">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">Translations</div>
                    <div class="card-body">
                        <dl class="list-group list-group-flush">
                            {% for lang in script.translations %}
                            <dt> {{lang|upper}} </dt>
                            <dd>{{script.translations[lang]}}</dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card" id="properties">
                    <div class="card-header">Properties</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <dl class="list-group list-group-flush">
                                    <dt>Type</dt>
                                    <dd>{{ badge_type(script) }} ({{script.type}})</dd>
                                    <dt>Class</dt>
                                    <dd>{{ badge_class(script) }}</dd>
                                </dl>
                            </div>
                            <div class="col-sm-2">
                                <dl class="list-group list-group-flush">
                                    <dt>Layer</dt>
                                    <dd>{{script.layer}}</dd>

                                    <dt>Size</dt>
                                    <dd>{{script.size}}</dd>
                                </dl>
                            </div>
                            <div class="col-sm-2">
                                <dl>
                                    <dt>Rank</dt>
                                    <dd>{{script.tables.rank}}</dd>

                                </dl>
                            </div>

                            <div class="col-sm-3">
                                <dl class="list-group list-group-flush">

                                    <dt>Parent</dt>
                                    <dd>
                                        {% if script.tables.parent == "Root" %}
                                        Root paradigm
                                        {% else %}
                                        <a href="{{url_for('scripts', filename=script.tables.parent)}}"> {{script.tables.parent}} </a>
                                        {% endif %}
                                    </dd>
                                    <dt>Root paradigm</dt>
                                    <dd>
                                        <a href="{{url_for('scripts', filename=script.tables.root)}}"> {{script.tables.root}} </a>
                                    </dd>

                                </dl>
                            </div>

                            <div class="col-sm-3">
                                <dl>
                                    <dt>Ndim of table</dt>
                                    <dd>{{script.tables.dim}}</dd>

                                    <dt>Shape of table</dt>
                                    <dd>{{script.tables.shape}}</dd>
                                </dl>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav nav-tabs mt-2" role="tablist">
            <a class="nav-item nav-link active"
               id="nav-comments-tab"
               data-toggle="tab"
               href="#comments"
               role="tab"
               aria-controls="comments"
               aria-selected="true">Comments</a>

            <a class="nav-item nav-link"
               id="nav-relations-tab"
               data-toggle="tab"
               href="#relations"
               role="tab"
               aria-controls="relations"
               aria-selected="false">Relations</a>

            {{_table_menu_tabs(script, 1)}}

            <a class="nav-item nav-link"
               id="nav-words-tab"
               data-toggle="tab"
               href="#words"
               role="tab"
               aria-controls="words"
               aria-selected="false">Words</a>

        </div>

        <div class="tab-content" id="tab-content">
            <div class="tab-pane fade show active"
                   id="comments"
                   role="tabpanel"
                   aria-labelledby="nav-comments-tab">
                <div class="card">
                    <div class="card-body">
                        <span class="comment"
                            data-lang="fr">
                            {{script.comments.fr}}
                        </span>
                        <span class="comment"
                            data-lang="en" style="display: none;">
                            {{script.comments.en}}
                        </span>

                    </div>
                </div>
            </div>

            <div class="tab-pane fade show"
               id="relations"
               role="tabpanel"
               aria-labelledby="nav-relations-tab">

                <!--<div class="card">-->
                    <!--<div class="card-header">Relations</div>-->
                    <!--<div class="card-body" id="accordion-relations">-->
                <!--<div class="card">-->
                   <!--<div class="card-body">-->

                <div class="row m-1">
                    <div class="col-sm-6">
                        <h6 class="text-center m-3">Analogies - Same layer</h6>
                        {% for rel, relations in script.relations['sibling'].items() %}
                            {{_relation_accordion('relations', rel, relations)}}
                        {% endfor %}

                        {% for rel, relations in script.relations['inclusion'].items() %}
                            {{_relation_accordion('relations', rel, relations)}}
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        <h6 class="text-center m-3">Etymologies - Different layer</h6>
                        {% for rel, relations in script.relations['father'].items() %}
                            {{_relation_accordion('relations', 'father-' + rel, relations)}}
                        {% endfor %}
                        {% for rel, relations in script.relations['child'].items() %}
                            {{_relation_accordion('relations', 'child-' + rel, relations)}}
                        {% endfor %}
                    </div>
                </div>
                    <!--</div>-->
                <!--</div>-->
            </div>

            {{_table_tabs(script, 1)}}


            <div class="tab-pane fade show"
               id="words"
               role="tabpanel"
               aria-labelledby="nav-words-tab">

                {% for name in script.words %}
                    {{_relation_accordion('words', name.name, name.words)}}
                {% endfor %}
                    <!--</div>-->
                <!--</div>-->
            </div>


        </div>
    <!--</div>-->

{% endblock content %}
