.table-fixed {
    table-layout: fixed;
}

.table-fixed td,
.table-fixed th {
    height: 90px;
    overflow:hidden;
    word-break: break-all;
}


.ieml-cell {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ieml {

}

.translation {
    font-size: small;
}