{% extends "main.html" %}
{% block current %}
    {{script.ieml}}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row" id="translations">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">Translations</div>
                <div class="card-body">
                    <dl class="list-group list-group-flush">
                        {% for lang in script.translations %}
                        <dt> {{lang|upper}} </dt>
                        <dd>{{script.translations[lang]}}</dd>
                        {% endfor %}
                    </ul> 
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" id="properties">
                <div class="card-header">Properties</div>

                <div class="card-body">
                    <dl class="list-group list-group-flush">
                        <dt>Layer</dt>
                        <dd>{{script.layer}}</dd>

                        <dt>Size</dt>
                        <dd>{{script.size}}</dd>

                        <dt>Type</dt>
                        <dd>{{script.type}}</dd>

                        <dt>Parent</dt>
                        <dd>                
                            {% if script.tables.parent == "Root" %}
                            Root paradigm
                            {% else %}
                            <a href="/scripts/{{script.tables.parent}}"> {{script.tables.parent}} </a>
                            {% endif %}
                        </dd>

                        <dt>Rank</dt>
                        <dd>{{script.tables.rank}}</dd>

                        <dt>Ndim of table</dt>
                        <dd>{{script.tables.dim}}</dd>

                        <dt>Shape of table</dt>
                        <dd>{{script.tables.shape}}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Relations</div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <dl>
                            {% for rel, siblings in script.relations['sibling'].items() %}
                                <dt>{{rel}}</dt>
                                <dd><ul>
                                    {% for s in siblings %}
                                    <li><a href="/scripts/{{s.ieml}}"> {{s.ieml}} </a></li>
                                    {% endfor %}
                                </ul></dd>
                            {% endfor %}
                            {% for rel, inclusions in script.relations['inclusion'].items() %}
                                <dt>{{rel}}</dt>
                                <dd><ul>
                                    {% for s in inclusions %}
                                    <li><a href="/scripts/{{s.ieml}}"> {{s.ieml}} </a></li>
                                    {% endfor %}
                                </ul></dd>
                            {% endfor %}
                            </dl>
                        </div>

                        <div class="col-sm">
                            <dl>
                            {% for rel, inclusions in script.relations['father'].items() %}
                                <dt>father-{{rel}}</dt>
                                <dd><ul>
                                    {% for s in inclusions %}
                                    <li><a href="/scripts/{{s.ieml}}"> {{s.ieml}} </a></li>
                                    {% endfor %}
                                </ul></dd>
                            {% endfor %}
                            {% for rel, inclusions in script.relations['child'].items() %}
                                <dt>child-{{rel}}</dt>
                                <dd><ul>
                                    {% for s in inclusions %}
                                    <li><a href="/scripts/{{s.ieml}}"> {{s.ieml}} </a></li>
                                    {% endfor %}
                                </ul></dd>
                            {% endfor %}                            
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table" id="tables">
        {% macro _cell(cell) -%}
        <div class="cell">
            <div class="ieml">
                <a href="/scripts/{{cell.ieml}}"> {{cell.ieml}} </a>
            </div>  
            <dl class="translations">
                <!-- <dt>fr </dt>
                <dd>{{cell.translations['fr']}}</dd> -->

                {% for lang in cell.translations %}
                <dt>{{lang}} </dt>
                <dd>{{cell.translations[lang]}}</dd>
                {% endfor %}
            </dl>
        </div>
        {%- endmacro %}
        {% macro _column(script, table) -%}
        <table>
                <tr>
                    <th> {{_cell(script)}} </th>
                </tr>
                {% for cell in table.cells %}
                <tr>
                    <td>
                        {{_cell(cell)}}
                    </td>
                </tr>
                {% endfor%}
            </table>

        {%- endmacro %}

        {% macro _table(table) -%}
            <table class="table table-bordered">
                <tr>
                    <th></th>
                    {% for cell in table.columns %}
                    <th> {{_cell(cell)}} </th>
                    {% endfor %}
                </tr>
                {% for row in table.cells %}
                <tr>
                    <th>
                        {{_cell(table.rows[loop.index - 1])}}
                    </th>

                    {% for cell in row%}

                    <td>
                        {{_cell(cell)}}
                    </td>
                    {% endfor%}
                </tr>
                {% endfor%}
            </table>
        {%- endmacro %}
        {% macro _table_header(s) -%}
            <div class="card-header">Table <a href="/scripts/{{s.ieml}}">{{s.ieml}}</a> {{s.translations['fr']}}</div>
        {%- endmacro %}

        {% if script.tables.dim == 1 %}
            <div class="card">
                {{_table_header(script)}}
                <div class="card-body">
                    {{_column(script, script.tables)}}
                </div>
            </div>
        {% elif script.tables.dim == 2 %}
            <div class="card">
                {{_table_header(script)}}
                <div class="card-body">
                    {{_table(script.tables)}}
                </div>
            </div>
        {% elif script.tables.dim > 2 %}
<!--             <ul class="nav">
                {% for s, table in script.tables.cells.items() %}
                    <li class="nav-item">
                        <a class="nav-link" href="#tables-{{s}}">{{s}}</a>
                    </li>
                {% endfor %}
            </ul>
 -->            {% for s, table in script.tables.cells.items() %}
                <div class="card">
                    {{_table_header(table)}}
                    <div class="card-body">
                    {{_table(table.tables)}}
                    </div>
                </div>
<!--             <div id="tables-{{s}}">
            </div>
 -->            {% endfor %}
        {% endif %}
    </div>
</div>
    </div>
</div>
{% endblock content %}